@font-face {
    font-family: 'dejavu_sans_mono';
    src: url('static/fonts/dejavusansmono-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dejavu_sans_mono';
    src: url('static/fonts/dejavusansmono-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'dejavu_sans_mono';
    src: url('static/fonts/dejavusansmono-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'dejavu_sans_mono';
    src: url('static/fonts/dejavusansmono-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

